{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.Firstname }}</td>
                <td>{{ user.Lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% include('admin/user/_delete_form.html.twig') %}
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
