{% extends 'base.html.twig' %}

{% block title %}Les élèves de la class {{ classroom.name }}{% endblock %}

{% block body %}

<div class="classroom m-5 bg-primary position-relative d-flex flex-wrap justify-content-around">
    <div class="classname row bg-primary-light position-absolute dec-lt-4 text-secondary p-2 border border-primary">
        <div>
            <h2>{{ classroom.name }}</h2>
        </div>
        <div class="text-right m-2">
            <div>
                <a href="{{ path('board') }}">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    {% for student in classroom.students %}
        <a href="">
            <div class="position-relative mx-3 p-4 border-primary pt-4 bg-dyna-light student">
                <div class="delete position-absolute">
                    {{ include('student/_delete_form.html.twig') }}
                </div>
                <div class="d-flex justify-items-center font-title {% if student.level.name == 'PS' %}text-primary-dark{% elseif student.level.name == 'MS' %}text-secondary-dark{% else %} text-danger-dark{% endif %}">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-earmark-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755S12 12 8 12s-5 1.755-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                    </svg><span class="font-title level">{{ student.level.name|upper }}</span>
                </div>
                <div>
                    {{ student.firstname ~ ' ' ~ student.lastname|upper }}
                </div>
                <div class="my-3">
                    {% for eval in student.evalstudents %}
                    <a class="button button-primary" href="{{ path('eval_by_studenteval', {'id': eval.id}) }}" target="_blank">{{ eval.evaluation.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    <div class="position-relative mx-3 p-4 border-primary pt-4 bg-primary student">
        <div class="text-dyna text-center">
            <a href="{{ path('student_new', {'id': classroom.id}) }}" class="">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </a><br>AJOUTER UN ÉLÈVE
        </div>
    </div>
</div>

{% endblock %}
