{% extends 'base.html.twig' %}

{% block title %}Gestion des évaluations{% endblock %}

{% block body %}

        <h1 class="text-center my-5">EVALUATIONS de la classe : <br>{{ classroom.name }}</h1>
<a class="button button-dyna" href="{{ path('board') }}">Retour</a>
            <div id="evaluation" class="position-relative pt-5 m-5 d-flex flex-wrap justify-content-around bg-primary-light text-secondary p-2 border border-primary">

                {% for evaluation in classroom.evaluations %}
                    <div class="col-3 font-title bg-primary-dark text-secondary-light border border-secondary m-2">
                       <div class="my-3">
                           <span class="button button-primary">{{ evaluation.level.name }}</span> <span class="ml-2 h2 text-light">{{ evaluation.name }}</span>
                        </div>
                        <div class="my-3">
                            <a class="button button-primary" href="{{ path('evaluation_show', {'id': evaluation.id}) }}">
                                Compétences
                            </a>
                        </div>

                        <div>
                            {% include 'evaluation/_delete_form.html.twig' %}
                        </div>
                    </div>

                {% endfor %}
                    <div class="col-3 text-primary-dark border border-secondary m-2 text-center">
                        <a href="{{ path('evaluation_new', {'id': classroom.id}) }}">
                        Créer une nouvelle évaluation<br>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
                        </svg>
                        </a>
                    </div>
            </div>

{% endblock %}
