{% extends 'base.html.twig' %}

{% block title %}Evaltheme index{% endblock %}

{% block body %}
    <h1>Evaltheme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaltheme in evalthemes %}
            <tr>
                <td>{{ evaltheme.id }}</td>
                <td>{{ evaltheme.name }}</td>
                <td>
                    <a href="{{ path('evaltheme_show', {'id': evaltheme.id}) }}">show</a>
                    <a href="{{ path('evaltheme_edit', {'id': evaltheme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evaltheme_new') }}">Create new</a>
{% endblock %}
