{% extends 'base.html.twig' %}

{% block title %}Mat'Tools{% endblock %}

{% block body %}
    <div class="board py-5">
        <div id="classrooms">
            {% for classroom in classrooms %}
                <div class="classroom m-5 {{ classroom.active==true ? 'bg-primary' : 'bg-primary' }} position-relative d-flex flex-wrap justify-content-around">
                    <div class="classname row bg-primary position-absolute dec-lt-4 text-light pt-2 pl-2 pr-0 border border-light">
                        <div>
                            <h1>{{ classroom.name }}</h1>
                        </div>
                        <div class="menu bg-primary text-right m-0 pt-1 pr-2 pb-2">
                            <div>
                                <a href="#">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="text-secondary justify-content-end row w-100 mx-0">
                                {% include('classroom/_delete_form.html.twig') %}
                            </div>
                            <div>
                                <a class="text-dyna" href="{{ path('classroom_edit', {'id': classroom.id}) }}" title="Modifier le nom de la classe.">
                                    <span class="text-dyna">
                                        Modifier
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="ml-1 bi bi-slash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.646-2.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 .708.708l6-6z"/>
                                    </svg>
                                    </span>
                                </a>
                            </div>
                            <div class="text-right">
                            {% if classroom.active == true %}
                                <a class="text-dyna" href="{{ path('classroom_active', {'id': classroom.id}) }}" title="Mettre en veille cette classe pour pouvoir la réactiver plus tard, ou pour garder en souvenir.">
                                    Archiver<svg width="20px" height="20px" viewBox="0 0 16 16" class="ml-1 bi bi-slash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.646-2.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 .708.708l6-6z"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{{ path('classroom_active', {'id': classroom.id}) }}" title="Réactiver cette classe.">
                                    Réactiver <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hand-index-thumb" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.75 1a.75.75 0 0 0-.75.75V9.5a.5.5 0 0 1-.854.354l-2.41-2.411a.517.517 0 0 0-.809.631l2.512 4.185 1.232 2.465a.5.5 0 0 0 .447.276h6.302a.5.5 0 0 0 .434-.252l1.395-2.442a2.5 2.5 0 0 0 .317-.991l.272-2.715a1 1 0 0 0-.995-1.1H13.5v1a.5.5 0 1 1-1 0V7.154a4.208 4.208 0 0 0-.2-.26c-.187-.222-.368-.383-.486-.43-.124-.05-.392-.063-.708-.039a4.844 4.844 0 0 0-.106.01V8a.5.5 0 1 1-1 0V5.986c0-.167-.073-.272-.15-.314a1.657 1.657 0 0 0-.448-.182c-.179-.035-.5-.04-.816-.027l-.086.004V8a.5.5 0 1 1-1 0V1.75A.75.75 0 0 0 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.272-2.715a2 2 0 0 0-1.99-2.199h-.582a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.634 2.634 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
                                    </svg>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if classroom.active == true %}
                        <div>
                            <a class="rubrique" href="{{ path('student_by_classroom', {'id': classroom.id}) }}">
                                <div class="text-center">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                    </svg>
                                </div>
                                <div class="h2 font-title text-center mt-2">
                                Élèves
                                </div>
                            </a>
                        </div>
                        <div class="text-primary-light">
                            <a class="rubrique" href="{{ path('lists', {'id': classroom.id}) }}">
                                <div class="text-center">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-file-earmark-ruled" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5 10H3V9h10v1H6v2h7v1H6v2H5v-2H3v-1h2v-2z"/>
                                        <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                        <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                                    </svg>
                                </div>
                                <div class="h2 font-title text-center mt-2">
                                Listes
                                </div>
                            </a>
                        </div>
                        <div class="text-primary-light">
                            <a href="{{ path('etiquettes', {'id': classroom.id}) }}">
                                <div class="text-center">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-columns-gap" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 1H1v3h5V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12h-5v3h5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8H1v7h5V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6h-5v7h5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
                                    </svg>
                                </div>
                                <div class="h2 font-title text-center mt-2">
                                    Etiquettes
                                </div>
                            </a>
                        </div>
                        <div>
                            <a class="rubrique" href="{{ path('evaluation_index', {'id': classroom.id}) }}">
                                <div class="text-center">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-bookmark-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                                    </svg>
                                </div>
                                <div class="h2 font-title text-center mt-2">
                                Evaluations
                            </div>
                            </a>
                        </div>
                        <div class="text-primary-light">
                                <div class="text-center">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                    </svg>
                                </div>
                                <div class="h2 font-title text-center mt-2">
                                Livrets d'autonomie
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="classroom m-5 bg-primary position-relative d-flex flex-wrap justify-content-around py-2">
                <div class="position-relative mx-3 p-1 border-primary bg-primary my-0">
                    <a href="{{ path('classroom_new') }}">
                    <div class="text-dyna text-center"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        <br>AJOUTER UNE CLASSE
                    </div></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
