{% extends 'base_pdf.html.twig' %}

{% block title %}Evaluation de la section{% endblock %}

{% block body %}
<style>
    @page{
        margin: 1cm;
    }
    section{
        page-break-after: always;
    }
    .center{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .mt{
        margin-top:8px;
    }
    .mb{
        margin-bottom:8px;
    }
    .appreciation{
        position:relative;
        border: solid 1pt black;
        padding: 8px;
        width: 7cm;
        margin-bottom: 16px;
    }
    .appreciation p{
        font-size: 12px;
        margin: 0;
    }
    .school {
        font-size: 10pt;
        width: 6cm;
        border: solid 1px black;
    }
    .school p{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .student{
        background-color: black;
        color: white;
        border-radius: 15px;
        text-align: center;
        position: absolute;
        top: 1cm;
        left: 13cm;
        font-size: 14px;
        font-weight: bold;
        width: 6cm;
        border: solid 1px black;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    img{
        margin-top: 0.05cm;
        width: 15px;
        height: 15px;
    }
    .no-break{
        background-color: #cfcfcf;
        position: relative;
        page-break-inside: avoid;
        border: solid 0.2mm black;
    }
    .bloc_theme{
        font-size: 14px;
        width: 19cm;
        border: solid 1px black;
    }
    .theme{
        background-color: black;
        color: white;
        border: solid 0.1mm black;
        width: 18.8cm;
        padding-top: 0.2cm;
        padding-left: 0.2cm;
        height: 0.9cm;
    }
    .category{
        background-color: #a1a1a1;
        border: solid 0.1mm black;
        width: 18.6cm;
        padding-top: 0.2cm;
        padding-left: 0.4cm;
        height: 0.7cm;
    }
    table{
        border-collapse: collapse;
        width: 19cm;
    }
    .bloc{
        padding: 0.3cm;
        font-size: 12px;
        width: 4cm;
    }
    .comp{
        background-color: white;
        border: solid 0.1mm black;
        width: 14cm;
    }
    .relative{
        background-color: white;
        position: relative;
    }
    .item{
        padding-left: 0.2cm;
        margin: 0;
        background-color: white;
        width: 12cm;
    }
    .note{
        position: absolute;
        left: 12cm;
        top: 0;
        padding: 0;
        margin: 0;
        background-color: white;
        text-align: center;
        width: 2cm;
    }
</style>

{% for evalstudent in evaluations %}

    <section class="evalByStudent">
        <h1 class="center">Année scolaire 2019/2020</h1>
        <h2 class="center">Classe de :
            {% if evaluation.level.id == 1 %}
                Petite Section
            {% elseif evaluation.level.id == 2 %}
                Moyenne Section
            {% else %}
                Grande Section
            {% endif %}
        </h2>
        <h3 class="center">Enseignant(e) : {{ evaluation.classroom.teacher.firstname ?? '' }} {{ evaluation.classroom.teacher.lastname }}</h3>
        <h2 class="center mt mb">{{ evaluation.name }}</h2>

        <div class="appreciation">
            <div class="student">{{ evalstudent['student'].firstname ~ ' ' ~ evalstudent['student'].lastname|upper }}</div>
            <h3 class="mt"><u>Code d'appréciation</u></h3>
            <p>
                <img src="build/star.png"/>
                Compétence fragile, à travailler.</p>
            <p>
                <img src="build/star.png"/>
                <img src="build/star.png"/>
                Compétence en cours d'acquisition.</p>
            <p>
                <img src="build/star.png"/>
                <img src="build/star.png"/>
                <img src="build/star.png"/>
                Compétence acquise.</p>
        </div>
        {% for keytheme,theme in evalstudent.competences %}
            <div class="bloc-theme">
                <div class="theme">{{ keytheme }}</div>
                {% for keycategory, category in theme %}
                    {% if keycategory != 'unique' %}
                        <div class="category">{{ keycategory }}</div>
                    {% endif %}
                    {% for keybloc, bloc in category  %}
                        <div class="no-break">
                            <table>
                                <tr>
                                    <td class="bloc">{{ keybloc }}</td>
                                    <td class="comp">
                                        {% for keycompetence,competence in bloc %}
                                            <div class="relative">
                                                <div class="item">{{ '* ' ~ keycompetence}}</div>
                                                <div class="note">
                                                    {% if competence.comment %}
                                                        {{ competence.comment }}
                                                    {% else %}
                                                        {% if competence.note %}
                                                            {% for i in 1..competence.note %}
                                                                <img src="build/star.png"/>
                                                            {% endfor %}
                                                        {% else %}
                                                            NE
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endfor %}
{% endblock %}
