{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}{% endblock %}
{% block body %}

    <div class="my-5 text-center">
        <div>Identifiant : {{ app.user.firstname ~ ' ' ~ app.user.lastname }}</div>
        <div>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</div>
        <div>{{ app.user.email }}</div>
        <div>Ecole : {{ app.user.school.name }} ({{ app.user.school.circo.district.inspection.name }})</div>
    </div>
    <div class="text-center">
        <a href="{{ path('user_edit') }}" class="button button-primary">Modifier</a>
        <a href="{{ path('board') }}" class="button button-dyna">Retour au tableau de bord</a>
        <a href="{{ path('app_logout') }}" class="button button-danger">Déconnexion</a>
    </div>
{% endblock %}
